html,
body {
    height: 100%;
}

#bombTimer {
    text-align: center;
    padding-top: 10px;
}

#colorName {
    text-align: center;
    font-size: 1.5rem;
    color: green;
}

#nameBox {
    margin: auto;
    background-color: lightgrey;
    width: 150px;
    border-radius: 10px;
    border: 1rem solid grey;
}

#gameBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#backgroundBox {
    padding: 1.5% 12.5%;
    background-color: grey;
    border-radius: 10px;
}

#colorCode {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100px;
}

.colorContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 0.5rem;
    background-color: grey;
}

.colorBlock {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}


#submitButton {
    text-align: center;
    padding: 0.5rem;
}

#submitButton input {
    font-size: 2rem;
}

#startButton {
    text-align: center;
    
}

#startButton input {
    font-size: 2rem;
}
.btn {
    width: 220px;
    height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}
.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}
/* Image from https://pixabay.com/vectors/bomb-dynamite-clock-countdown-2402460/ */

#timeBombImage {
    background: url("/assets/images/bomb.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 30% top 39%;
    background-size: 80%;

}